In [27]:
import psycopg2
import pandas as pd

# Conexión
conexion = psycopg2.connect(
    host="localhost",
    port="5432",
    database="postgres",
    user="postgres",
    password=""
)

cursor = conexion.cursor()

# Ejecuta consulta
cursor.execute('SELECT * FROM "EBAC"."tweets"')
# Verifica funcione
resultados = cursor.fetchall()
if resultados:
    df = pd.DataFrame(resultados, columns=[desc[0] for desc in cursor.description])
    print(df)
else:
    print("La consulta no retornó ningún resultado.")

# Cerrar la conexión
cursor.close()
conexion.close()

                tweet_id airline_sentiment  airline_sentiment_confidence  \
0     570306133677760513           neutral                        1.0000
1     570301130888122368          positive                        0.3486
2     570301083672813571           neutral                        0.6837
3     570301031407624196          negative                        1.0000
4     570300817074462722          negative                        1.0000
...                  ...               ...                           ...
5139              569855          negative                        1.0000
5140              569854          negative                        1.0000
5141              569854          negative                        1.0000
5142              569852          negative                        1.0000
5143              569852           neutral                        1.0000

        negativereason  negativereason_confidence         airline  \
0                                             NaN  Virgin America
1                                          0.0000  Virgin America
2                                             NaN  Virgin America
3           Bad Flight                     0.7033  Virgin America
4           Can't Tell                     1.0000  Virgin America
...                ...                        ...             ...
5139        Bad Flight                     1.0000          United
5140  Cancelled Flight                     1.0000          United
5141       Late Flight                     1.0000          United
5142  Cancelled Flight                     0.3516          United
5143                                          NaN          United

     airline_sentiment_gold        name negativereason_gold  retweet_count  \
0                               cairdin                None              0
1                              jnardino                None              0
2                            yvonnalynn                None              0
3                              jnardino                None              0
4                              jnardino                None              0
...                     ...         ...                 ...            ...
5139                          e_russell                None              0
5140                          HeidiJern                None              0
5141                               crog                None              0
5142                          brendanrd                None              0
5143                         D_WaYnE_01                None              0

                                                   text tweet_coord  \
0                   @VirginAmerica What @dhepburn said.
1     @VirginAmerica plus you've added commercials t...
2     @VirginAmerica I didn't today... Must mean I n...
3     @VirginAmerica it's really aggressive to blast...
4     @VirginAmerica and it's a really big bad thing...
...                                                 ...         ...
5139  @united wi-fi on 737-800 (aircraft 3511) didn'...
5140  @united Cancelled Flightled my direct flight N...
5141  .@united You may "dislike delays" but I paid y...
5142  @united #epicfail on #CX as flight from Frankf...
5143  @united DM sent as requested. Make sure you fo...

           tweet_created               tweet_location  \
0    2015-02-24 11:35:52
1    2015-02-24 11:15:59
2    2015-02-24 11:15:48                    Lets Play
3    2015-02-24 11:15:36
4    2015-02-24 11:14:45
...                  ...                          ...
5139 2016-11-02 05:41:00  Frequently DC/NYC/San Diego
5140 2016-11-02 05:38:00                     Brussels
5141 2016-11-02 05:37:00
5142 2016-11-02 05:32:00            Weston super Mare
5143 2016-11-02 05:32:00

                    user_timezone
0      Eastern Time (US & Canada)
1      Pacific Time (US & Canada)
2      Central Time (US & Canada)
3      Pacific Time (US & Canada)
4      Pacific Time (US & Canada)
...                           ...
5139   Eastern Time (US & Canada)
5140
5141  Mountain Time (US & Canada)
5142
5143

[5144 rows x 15 columns]

In [16]:
df.sample(5)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
7,570300248553349120,neutral,0.6340,,NaN,Virgin America,,pilot,None,0,@VirginAmerica Really missed a prime opportuni...,,2015-02-24 11:12:29,Los Angeles,Pacific Time (US & Canada)
5,570300767074181121,negative,1.0000,Can't Tell,0.6842,Virgin America,,jnardino,None,0,@VirginAmerica seriously would pay $30 a fligh...,,2015-02-24 11:14:33,,Pacific Time (US & Canada)
1,570301130888122368,positive,0.3486,,0.0000,Virgin America,,jnardino,None,0,@VirginAmerica plus you've added commercials t...,,2015-02-24 11:15:59,,Pacific Time (US & Canada)
8,570299953286942721,positive,0.6559,,NaN,Virgin America,,dhepburn,None,0,"@virginamerica Well, I didn't…but NOW I DO! :-D",,2015-02-24 11:11:19,San Diego,Pacific Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,,jnardino,None,0,@VirginAmerica it's really aggressive to blast...,,2015-02-24 11:15:36,,Pacific Time (US & Canada)

In [45]:
palabra_clave = df[df['text'].str.contains('flight', case=False, na=False)]
palabra_clave.sample(5)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
2021,570115302991777792,negative,1.0000,Bad Flight,0.6736,United,,747_TJ,None,0,@united It's too bad UA has had another unfo...,,2015-02-23 22:57:35,,
3360,570082,negative,1.0000,Customer Service Issue,0.6667,United,,Tdrag97,None,0,@united agent split up my reservation? Now can...,,2016-11-02 20:43:00,,Central America
1824,570291213007491076,negative,1.0000,Customer Service Issue,0.6421,United,,runwithmiles,None,0,@united I am trying to book awards for Septemb...,,2015-02-24 10:36:35,,Eastern Time (US & Canada)
3815,56987,negative,1.0000,Cancelled Flight,1.0000,United,,sentientcheese,None,0,"@united flight Cancelled Flightled, and the u...",,2016-11-02 06:42:00,,
2211,570011417249759233,negative,0.7083,Lost Luggage,0.3750,United,,jalvich,None,0,"@united flight arrives 30 minutes early, but t...",,2015-02-23 16:04:46,,Eastern Time (US & Canada)

In [44]:
palabra_clave = df[df['text'].str.contains('flight', case=False, na=False)].sample(1000).reset_index()
palabra_clave

,index,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,1997,570160394494480384,negative,1.0000,Lost Luggage,1.0000,United,,LukeGzus,None,0,@united Thanks for remembering to load my bag ...,,2015-02-24 01:56:45,,
1,4467,570253,negative,1.0000,Late Flight,1.0000,United,,RaquelSnyderDC,None,0,@United. What's going on with UA 236? outboun...,,2016-12-02 08:03:00,"Washington, D.C. Metro Area",Eastern Time (US & Canada)
2,2433,569915133113323520,negative,1.0000,Customer Service Issue,0.6657,United,,teamcrafty,None,0,"@united b) I contacted you directly, and the p...",,2015-02-23 09:42:10,Grand Rapids,Quito
3,3826,569866,negative,1.0000,Late Flight,0.6947,United,,JackKelleher920,None,0,@united We were supposed to board at 605. They...,,2016-11-02 06:25:00,New Jersey,Eastern Time (US & Canada)
4,2061,570086475989061632,negative,1.0000,Late Flight,1.0000,United,,DaniOnTheFritz,None,0,"@united If it's any consolation, your staff wa...",,2015-02-23 21:03:02,Missouri,Central Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4108,569111,positive,1.0000,,NaN,Virgin America,,_LisaCap,None,0,@VirginAmerica love the 90s music blasting at ...,,2016-09-02 04:25:00,"Charlestown, MA",
996,1524,569200619430420480,positive,0.6701,,NaN,Virgin America,,ninjasistah,None,0,@VirginAmerica I’m looking forward to watching...,,2015-02-21 10:22:57,Massachusetts,Eastern Time (US & Canada)
997,2535,569867107749531648,negative,1.0000,Cancelled Flight,1.0000,United,,generationKYLIE,None,0,@united you Cancelled Flight my flight. I wait...,,2015-02-23 06:31:20,"Washington, DC",
998,2508,569878547197616128,negative,1.0000,Customer Service Issue,0.3481,United,,rissels,None,0,@united need to work on your #United #flierfri...,,2015-02-23 07:16:48,,Central Time (US & Canada)
999,4624,570091,negative,1.0000,Cancelled Flight,1.0000,United,,Meyer47,None,1,@united the people at the counter have been ve...,,2016-11-02 21:21:00,Iowa,

In [70]:
import pandas as pd
import numpy as np
import psycopg2

df = pd.read_csv('Analista de Datos M49 Tweets (1).csv')

# Se sacan los 1000 valores y que lleven la palabra clave
df = df[df['text'].str.contains('flight', case=False, na=False)].sample(1000)

# Limpiar la columna negativereason_gold para manejar valores no numericos y evitar errores
def convert_to_float(value):
    try:
        return float(value)
    except ValueError:
        return np.nan 

df['negativereason_gold'] = df['negativereason_gold'].apply(convert_to_float)


# Convertir DataFrame a una lista de tuplas para executemany
data_to_insert = df.apply(lambda row: (
    row['tweet_id'], row['airline_sentiment'], row['airline_sentiment_confidence'], row['negativereason'],
    row['negativereason_confidence'], row['airline'], row['airline_sentiment_gold'], row['name'],
    row['negativereason_gold'], row['retweet_count'], row['text'], row['tweet_coord'], row['tweet_created'],
    row['tweet_location'], row['user_timezone']
), axis=1).tolist()

# Conexión
conexion = psycopg2.connect(
    host="localhost",
    port="5432",
    database="postgres",
    user="postgres",
    password=""
)

cursor = conexion.cursor()

# Crear la tabla si no existe
cursor.execute('''
    CREATE TABLE IF NOT EXISTS "EBAC"."tweets_importados" (
        tweet_id BIGINT,
        airline_sentiment VARCHAR(50),
        airline_sentiment_confidence FLOAT,
        negativereason VARCHAR(255),
        negativereason_confidence FLOAT,
        airline VARCHAR(50),
        airline_sentiment_gold VARCHAR(50),
        name VARCHAR(100),
        negativereason_gold FLOAT,
        retweet_count INT,
        text TEXT,
        tweet_coord VARCHAR(100),
        tweet_created TIMESTAMP,
        tweet_location VARCHAR(255),
        user_timezone VARCHAR(255)
    );
''')

# Consulta que inserta la tabla
insert_query = '''
    INSERT INTO "EBAC"."tweets_importados" (
        tweet_id, airline_sentiment, airline_sentiment_confidence, negativereason,
        negativereason_confidence, airline, airline_sentiment_gold, name, 
        negativereason_gold, retweet_count, text, tweet_coord, tweet_created,
        tweet_location, user_timezone
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''

# Executemany inserta los datos seleccionados
cursor.executemany(insert_query, data_to_insert)
conexion.commit()

# Cerrar la conexión
cursor.close()
conexion.close()

print("1000 datos importados exitosamente.")

1000 datos importados exitosamente.

In [72]:
# Conexión
conexion = psycopg2.connect(
    host="localhost",
    port="5432",
    database="postgres",
    user="postgres",
    password=""
)

cursor = conexion.cursor()

# Ejecuta consulta
cursor.execute('SELECT * FROM "EBAC"."tweets_importados"')
# Verifica funcione
resultados = cursor.fetchall()
if resultados:
    df = pd.DataFrame(resultados, columns=[desc[0] for desc in cursor.description])
    print(df)
else:
    print("La consulta no retornó ningún resultado.")

# Cerrar la conexión
cursor.close()
conexion.close()

               tweet_id airline_sentiment  airline_sentiment_confidence  \
0    568460000000000000           neutral                        1.0000
1    568834000000000000          negative                        0.6459
2    568023000000000000          negative                        0.3638
3    568223000000000000          negative                        0.6591
4    570258000000000000          negative                        0.6354
..                  ...               ...                           ...
995  570051000000000000           neutral                        1.0000
996  569593000000000000          negative                        0.6440
997  568951000000000000          negative                        1.0000
998  568173000000000000          negative                        0.7012
999  567822000000000000          positive                        0.6804

                  negativereason  negativereason_confidence     airline  \
0                            NaN                        NaN      United
1                     Can't Tell                     0.3230   Southwest
2    Flight Attendant Complaints                     0.3638  US Airways
3        Flight Booking Problems                     0.3523   Southwest
4    Flight Attendant Complaints                     0.6354      United
..                           ...                        ...         ...
995                          NaN                        NaN   Southwest
996             Cancelled Flight                     0.6440    American
997      Flight Booking Problems                     0.6889      United
998             Cancelled Flight                     0.3582  US Airways
999                          NaN                     0.0000       Delta

    airline_sentiment_gold            name  negativereason_gold  \
0                      NaN       JerseyRic                  NaN
1                      NaN         wclsc59                  NaN
2                      NaN  RealcornerboyT                  NaN
3                      NaN      Galanthusn                  NaN
4                      NaN   CassiusCCIDog                  NaN
..                     ...             ...                  ...
995                    NaN       maximusKP                  NaN
996                    NaN    sbrandongage                  NaN
997                    NaN       majacgray                  NaN
998                    NaN    RayAllStar28                  NaN
999                    NaN         mrsmjem                  NaN

     retweet_count                                               text  \
0                0  @united need assistance to change flight to ge...
1                0  @SouthwestAir will you please start offering s...
2                0  @USAirways gate agents are now working with ev...
3                0  @SouthwestAir have a flight from Oakland to SN...
4                0  @united Had to explain to a very over eager fl...
..             ...                                                ...
995              0  @SouthwestAir if I am enrolled in the ATL comp...
996              0  @AmericanAir Has AA Flight 296 from San Antoni...
997              0  @united Marcus helped me - good agent, couldn'...
998              0  @USAirways that's understandable, my issue is ...
999              0  @JetBlue we have just landed, thank you anyway...

    tweet_coord       tweet_created         tweet_location  \
0           NaN 2015-02-19 09:20:00           North Jersey
1           NaN 2015-02-20 10:04:00        johnson city tn
2           NaN 2015-02-18 04:21:00  Any Martin Luther St.
3           NaN 2015-02-18 17:36:00                    NaN
4           NaN 2015-02-24 08:22:00                    NaN
..          ...                 ...                    ...
995         NaN 2015-02-23 18:40:00                    ATL
996         NaN 2015-02-22 12:20:00             Pueblo, CO
997         NaN 2015-02-20 17:50:00           Brooklyn, NY
998         NaN 2015-02-18 14:20:00           Lawrence, MA
999         NaN 2015-02-17 15:02:00                     CT

                  user_timezone
0    Eastern Time (US & Canada)
1                           NaN
2                           NaN
3                           NaN
4                           NaN
..                          ...
995  Eastern Time (US & Canada)
996  Eastern Time (US & Canada)
997  Eastern Time (US & Canada)
998                         NaN
999                       Quito

[1000 rows x 15 columns]

In [68]:
df.shape

(1000, 15)

In [82]:
# Filtrar por sentimiento negativo y aerolinea
aerolinea = 'Virgin America'
filtered_df = df[(df['airline_sentiment'].str.lower() == 'negative') & (df['airline'].str.contains(aerolinea, case=False, na=False))]
print(f"Total de tweets negativos en la aerolinea {aerolinea}: {filtered_df.shape[0]}")

Total de tweets negativos en la aerolinea Virgin America: 19

In [87]:
# Filtrar por sentimiento positivo y número de confianza
confidence = 0.6 
filtered_df = df[(df['airline_sentiment'].str.lower() == 'positive') &
                 (df['airline_sentiment_confidence'] > confidence)]
print(f"Total de tweets positivos con más de {confidence} de confianza: {filtered_df.shape[0]}")

Total de tweets positivos con más de 0.6 de confianza: 101